target/
test_data/
.idea
.DS_Store
.vscode/
sccache
outer-protos/thirdparty/**
.scratch
pinecone-platform/configs/ci/
pinecone-platform/configs/dev/
pinecone-platform/configs/preprod/
pinecone-platform/configs/prod/
pinecone-platform/configs/stage/
**/.pytest_cache/
**/__pycache__/
**/venv**
**/.env
**/.swp
