target/
test_data/
sccache
outer-protos/thirdparty/**
.scratch
**/.pytest_cache/
**/__pycache__/
**/venv**
**/.env
**/.swp


# IDE, editor, and OS-specific files
.idea/
.vscode/
*.rs.bk
*.rs.swp
*.rs.swo
*.bak
*.tmp
*.swp
*.swo
*.old
.DS_Store
Thumbs.db
